#body {
    position: relative;
    display: grid;
    margin: 0;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    grid-template-rows: 
    [header]80px
    [all]auto
    [footer]150px;
}

#head {
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: repeat(6, auto);
    text-align: center;
    align-items: center;
    font-family: Calibri;
    font-size: 25px;
}

#main {
    visibility: visible;
}

#foot {
    display: grid;
    background-color: black;
    color: white;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(6, auto);
    grid-auto-flow: column;
    text-align: left;
    align-items: center;
    font-family: Calibri;
    font-size: 17px;
}

.foot-title {
    font-family: Calibri SemiBold;
    font-size: 110%;
}

.ft, .foot-title {
    margin: 0 0 0 50px;
}

#time-u, #time-d, #times {
    text-align: left;
    font-size: 80%;
}